<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="cn.tangzy" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>